{% import "partials/_media_sections.html.j2" as media_macros %}
{% import "partials/_utils.html.j2" as utils %}
{% import "partials/_media_badges.html.j2" as media_badges %}
{% import "partials/_meta_list.html.j2" as meta_macros %}

<!DOCTYPE html>
<html lang="en">
<head>
  <style>body { display: none; }</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ creator.name }}</title>
  <link rel="stylesheet" href="{{ path_to_root }}assets/css/base.css">
  <link rel="stylesheet" href="{{ path_to_root }}assets/css/theme.css">
  <link rel="stylesheet" href="{{ path_to_root }}assets/css/two-column-layout.css">
</head>
<body>

<div class="page-container">
  <div class="page-header">
    <div class="top-link">
      <a href="{{ path_to_root }}index.html">{{ html_settings.nav_creators_label }}</a> &middot;
      <a href="{{ path_to_root }}projects.html">{{ html_settings.nav_projects_label }}</a> &middot;
      <a href="{{ path_to_root }}tags.html">{{ html_settings.nav_tags_label }}</a>
      {% include "partials/_theme_dropdown.html.j2" %}
    </div>

    <h1>{{ creator.name }}</h1>
  </div>

  <div class="two-column-layout">

    <div class="left-column">

      <div class="original-placeholder" data-mobile-target="1">

        <div class="section-box">
          <div class="section-title">{{ html_settings.creator_page_profile_title }}</div>
          <hr>
          <div class="section-content markdown">
            <div class="info-block {{ utils.get_info_block_layout(Orientation, creator.portrait_orientation) }}">
              {% if not html_settings.hide_portraits %}
                <a href="{{ path_to_root }}{{ creator.rel_portrait_path }}" class="single-lightbox" data-lightbox-single="true">
                  <img src="{{ path_to_root }}{{ creator.rel_portrait_path }}" alt="Portrait of {{ creator.name }}">
                </a>
              {% endif %}
              {{ meta_macros.render_meta_list(path_to_root, creator.profile_meta) }}
            </div>
          </div>
        </div>

        {% if creator.info_html %}
          <div class="section-box markdown">
            <div class="section-title">{{ html_settings.creator_page_about_title }}</div>
            <hr>
            <div class="section-content text-content">
              {{ creator.info_html | safe }}
           </div>
         </div>
      {% endif %}
      </div>
      
      <div class="original-placeholder" data-mobile-target="2">
        {% for member in creator.members%}
          <div class="section-box">
            <div class="section-title">{{ member.name }}</div>
            <hr>
            <div class="section-content">
              <div class="info-block info-block--row">
                {% if not html_settings.hide_portraits %}
                  <a href="{{ path_to_root }}{{ member.rel_thumbnail_path }}" class="single-lightbox" data-lightbox-single="true">
                    <img src="{{ path_to_root }}{{ member.rel_thumbnail_path }}" alt="Portrait of {{ member.name }}">
                  </a>
                {% endif %}
                <div>
                  <p><strong>Name:</strong> <a href="{{ path_to_root }}{{ member.rel_html_path }}">{{ member.name }}</a></p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      <div class="original-placeholder" data-mobile-target="3">
        {% if creator.tag_map %}
          <div class="section-box">
            <div class="section-title">{{ html_settings.creator_page_tags_title }}</div>
            <hr>
            <div class="section-content tag-list">
              {% for category, tags in creator.tag_map.items() %}
                <div class="tag-category">
                  <strong>{{ category }}:</strong>
                  {% for tag in tags %}
                    {% set is_generic_tag = category.lower() == 'tag' %}
                    <a class="tag" href="{{ path_to_root }}index.html?tag={{ (tag if is_generic_tag else category ~ ':' ~ tag) }}">{{ tag }}</a>
                  {% endfor %}
                </div>
              {% endfor %}
           </div>
         </div>
        {% endif %}
      </div>

    </div>

    <div class="right-column">
      
      {% set image_gallery_class = utils.get_image_gallery_class(ImageGalleryBuildingStrategy, html_settings.project_gallery_building_strategy) %}
      {% set aspect_ratio = html_settings.project_gallery_aspect_ratio or '1/1' %}

      {% if creator.projects %}
      <div class="section-box">
        <div class="section-title">{{ html_settings.creator_page_projects_title }}</div>
        <hr>
        <div class="section-content">
          <div class="{{ image_gallery_class }}"
               data-lightbox="false"
               data-image-max-height="{{ project_thumb_max_height }}"
               data-aspect-ratio="{{ aspect_ratio }}">
            {% for project in creator.projects %}
            <div class="image-wrapper image-card" data-width="{{ project.image_wrapper_width }}" data-height="{{ project.image_wrapper_height }}">
              <a href="{{ path_to_root }}{{ project.rel_html_path }}" title="{{ project.title }}">
                <img src="{{ path_to_root }}{{ project.rel_thumbnail_path }}" alt="Thumbnail for {{ project.title }}" loading="lazy">
                {{ media_badges.media_badges(project.media_counts) }}
                <div class=image-caption>
                  <span>{{ project.title }}</span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>  
        </div>
      </div>
      {% endif %}

      {% for collab in creator.collaborations %}
      <div class="section-box">
        <div class="section-title">{{ html_settings.creator_page_projects_title }} with {{ collab.label }}</div>
        <hr>
        <div class="section-content">
          <div class="{{ image_gallery_class }}"
               data-lightbox="false"
               data-image-max-height="{{ project_thumb_max_height }}"
               data-aspect-ratio="{{ aspect_ratio }}">
            {% for project in collab.projects %}
            <div class="image-wrapper image-card" data-width="{{ project.image_wrapper_width }}" data-height="{{ project.image_wrapper_height }}">
              <a href="{{ path_to_root }}{{ project.rel_html_path }}" title="{{ project.title }}">
                <img src="{{ path_to_root }}{{ project.rel_thumbnail_path }}" alt="Thumbnail for {{ project.title }}" loading="lazy">
                {{ media_badges.media_badges(project.media_counts) }}
                <div class=image-caption>
                  <span>{{ project.title }}</span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
        
      {{ media_macros.render_media_groups(path_to_root, creator.media_groups, gallery_image_max_height, html_settings.creator_page_image_gallery_page_size) }}
      
      <div class="mobile-placeholder" data-mobile-target="1"></div>
      <div class="mobile-placeholder" data-mobile-target="2"></div>
      <div class="mobile-placeholder" data-mobile-target="3"></div>

    </div>

  </div>
</div>

<script src="{{ path_to_root }}assets/js/utils.js" defer></script>
<script src="{{ path_to_root }}assets/js/theme_selector.js" defer></script>
<script src="{{ path_to_root }}assets/js/justified_gallery_builder.js" defer></script>
<script src="{{ path_to_root }}assets/js/aspect_gallery_builder.js" defer></script>
<script src="{{ path_to_root }}assets/js/image-captions-toggle.js" defer></script>
<script src="{{ path_to_root }}assets/js/pagination.js" defer></script>
<script src="{{ path_to_root }}assets/js/audio_player.js" defer></script>
<script src="{{ path_to_root }}assets/js/video_player.js" defer></script>
<script src="{{ path_to_root }}assets/js/lightbox.js" defer></script>
<script src="{{ path_to_root }}assets/js/resize_iframes.js" defer></script>
<script src="{{ path_to_root }}assets/js/responsive_content_mover.js" defer></script>

</body>
</html>

