{% import "partials/_utils.html.j2" as utils %}
{% import "partials/_media_badges.html.j2" as media_badges %}

<!DOCTYPE html>
<html lang="en">
<head>
  <style>body { display: none; }</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ html_settings.projects_label }}</title>
  {% include "partials/_favicon.html.j2" %}
  <link rel="stylesheet" href="assets/css/base.css">
  <link rel="stylesheet" href="assets/css/overview-layout.css">
  <link rel="stylesheet" href="assets/css/theme.css">
</head>
<body>

<div class="page-container">
  <div class="page-header">
    <div class="top-link">
      <a href="index.html">{{ html_settings.creators_label }}</a> &middot;
      <span class="nav-current">{{ html_settings.projects_label }}</span> &middot;
      <a href="tags.html">{{ html_settings.tags_label }}</a>
      {% include "partials/_theme_dropdown.html.j2" %}
    </div>

    <h1>{{ html_settings.projects_label }}</h1>
  </div>

  {% set search_text_placeholder = html_settings.search_label ~ html_settings.creators_label | lower ~ ", " ~ html_settings.projects_label | lower ~ ", " ~ html_settings.tags_label | lower ~ "..." %}
  {% include "partials/_search_bar.html.j2" %}

  <div class="overview-layout">

    {% set image_gallery_class = utils.get_image_gallery_class(ImageGalleryBuildingStrategy, html_settings.project_gallery_building_strategy) %}
    {% set aspect_ratio = html_settings.project_gallery_aspect_ratio or '1/1' %}

    <div class="section-box">
      <div class="section-content">
        <div class="{{ image_gallery_class }}"
             id="imageGallery"
             data-image-max-height="{{ gallery_image_max_height }}"
             data-page-size="{{ html_settings.project_overview_gallery_page_size }}"
             data-aspect-ratio="{{ aspect_ratio }}">
          {% for project in projects %}
          <div class="image-wrapper image-card"
               data-search-text="{{ project.search_text | default('') }}"
               data-width="{{ project.image_wrapper_width }}"
               data-height="{{ project.image_wrapper_height }}">
            <a href="{{ project.rel_html_path }}" title="{{ project.title }}">
              <img src="{{ project.rel_thumbnail_path }}" alt="Poster for {{ project.title }}" loading="lazy">
              {{ media_badges.media_badges(project.media_counts) }}
              <div class=image-caption>
                <span>{{ project.title }}</span><br>
                <span><small>{{ project.creator_name }}</small></span>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>

<script src="assets/js/utils.js" defer></script>
<script src="assets/js/search_filter.js"></script>
<script src="assets/js/aspect_gallery_builder.js" defer></script>
<script src="assets/js/justified_gallery_builder.js" defer></script>
<script src="assets/js/pagination.js" defer></script>
<script src="assets/js/theme_selector.js" defer></script>

</body>
</html>

