<!DOCTYPE html>
<html lang="en">
<head>
  <style>body { display: none; }</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ labels.tags }}</title>
  {% include "partials/_favicon.html.j2" %}
  <link rel="stylesheet" href="assets/css/base.css">
  <link rel="stylesheet" href="assets/css/theme.css">
  <link rel="stylesheet" href="assets/css/overview-layout.css">
</head>
<body>

<div class="page-container">
  <div class="page-header">
    <div class="top-link">
      <a href="index.html">{{ labels.creators }}</a> &middot;
      <a href="projects.html">{{ labels.projects }}</a> &middot;
      <span class="nav-current">{{ labels.tags }}</span>
      {% include "partials/_theme_dropdown.html.j2" %}
    </div>

    <h1>{{ labels.tags }}</h1>
  </div>

  <div class="overview-layout">

    <div class="section-box">
      <div class="section-content tag-list">

        {% for category, tag_list in tags.items() %}
        <div class="tag-category" id="{{ category | lower | replace(' ', '-') }}">
          <strong>{{ category }}:</strong>
          {% for tag in tag_list %}
            {% set is_generic_tag = category.lower() == 'tag' %}
            <a class="tag" href="index.html?tag={{ (tag if is_generic_tag else category ~ ':' ~ tag) }}">{{ tag }}</a>
          {% endfor %}
        </div>
        {% endfor %}

     </div>
    </div>

  </div>
</div>

<script src="assets/js/theme_selector.js" defer></script>

</body>
</html>

