{% import "partials/_icons.html.j2" as icons %}

{% macro render(path_to_root, video) %}
  <div class="video-wrapper">
    <video preload="metadata" {% if video.rel_poster_path %}poster="{{ path_to_root }}{{ video.rel_poster_path }}"{% endif %}>
      <source src="{{ path_to_root }}{{ video.rel_path }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="video-controls">
      <button class="control-btn" onclick="toggleVideoPlay(this)">
        {{ icons.play_pause_icon() }}
      </button>
      <input type="range" class="media-slider progress-bar" value="0" step="0.01" onchange="seekVideo(this)" disabled>
      <span class="time-display">00:00:00 / 00:00:00</span>
      <div class="volume-container">
        {{ icons.volume_icon() }}
        <input type="range" class="media-slider volume-slider" min="0" max="1" step="0.01" oninput="setVideoVolume(this)">
      </div>
      <button class="control-btn" onclick="toggleFullscreen(this)">
        {{ icons.fullscreen_icon() }}
      </button>
    </div>
  </div>
{% endmacro %}

